<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>
  
  <logger name="com.jason" additivity="false">
    <level value="INFO" />
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="jdbc.sqlonly" level="DEBUG">
    <level value="DEBUG"/>
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="jdbc.sqltiming" level="INFO" />
  <logger name="jdbc.audit" level="WARN" />
  <logger name="jdbc.resultset" level="TRACE" />
  <logger name="jdbc.resultsettable" level="TRACE" />
  <logger name="jdbc.connection" level="DEBUG" />
</configuration>